/*
----------------------------------------------------------------
  I M P O R T S
---------------------------------------------------------------- */
@import "bourbon";

@import "koi/imports/_normalize";
@import "koi/imports/_color_palette";
@import "koi/imports/_utilities";
@import "koi/imports/_grid";
@import "koi/imports/_unitize";

body{
  background: #2b2f3e;
  color: #959cad;
}
a{ color: #2fe7be; }

.app{
  padding: 100px;
  text-align: center;
}

@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 480px) {}

