<% @title = "Home" %>
<% @currentParent = "home" %>

<div class="row intro">
  <div class="twelve mobile-four column">
    <h1>Big Headline</h1>
    <p>Suspendisse potenti. Curabitur sapien est, facilisis eu hendrerit sed, imperdiet id turpis. Integer viverra lobortis eros a sagittis. Donec laoreet imperdiet imperdiet. Vivamus mattis tortor sit amet urna luctus malesuada. Phasellus ac felis in nulla dictum tincidunt vitae ac nunc. Sed commodo, felis sit amet tristique condimentum, ante augue bibendum urna, sit amet venenatis tortor massa id eros. Nulla leo ante, ullamcorper ac volutpat id, aliquam quis risus. Sed at metus eros, vel congue erat. Sed eget porta leo.</p>
    <a href="#" class="btn get-started">Let's Get Started</a>
  </div>
</div><!-- /.intro -->

<div class="row learn-more bordered">
  <div class="twelve mobile-four column">
    <h2>Choose a section to learn more</h2>
    <p>Suspendisse potenti. Curabitur sapien est, facilisis eu hendrerit sed, imperdiet id turpis. Integer viverra lobortis eros a sagittis. Donec laoreet imperdiet imperdiet.</p>
    <div class="row">
      <div class="four column mobile-four">
        <a href="#" class="btn callout">Couples</a>
      </div>
      <div class="four column mobile-four">
        <a href="#" class="btn callout">Mediation</a>
      </div>
      <div class="four column mobile-four">
        <a href="#" class="btn callout">Bio-Feedback</a>
      </div>
    </div>
  </div>
</div><!-- /.learn-more -->

<div class="row sub-content">
  <div class="twelve mobile-four column">
    <nav class="sub-navigation">
      <ul>
        <li class="tab current">
          <a href="#office">Office</a>
        </li>
        <li class="seperator">|</li>
        <li class="tab">
          <a href="#in-intensives-of-fly-intensives">In-Intensives of Fly-Intensives</a>
        </li>
        <li class="seperator">|</li>
        <li class="tab">
          <a href="#couples-group">Couples Group</a>
        </li>
        <li class="seperator">|</li>
        <li class="tab">
          <a href="#retreats">Retreats</a>
        </li>
        <li class="seperator">|</li>
        <li class="tab">
          <a href="#medical">Medical</a>
        </li>
      </ul>
    </nav>
    <div id="office" class="tab-content">
      <h2>Couples / <span class="lightened">Office</span></h2>
      <p>Suspendisse potenti. Curabitur sapien est, facilisis eu hendrerit sed, imperdiet id turpis. Integer viverra lobortis eros a sagittis. Donec laoreet imperdiet imperdiet. Suspendisse potenti. Curabitur sapien est, facilisis eu hendrerit sed, imperdiet id turpis. Integer viverra lobortis eros a sagittis. Donec laoreet imperdiet imperdiet.</p>
      <p>Suspendisse potenti. Curabitur sapien est, facilisis eu hendrerit sed, imperdiet id turpis. Integer viverra lobortis eros a sagittis. Donec laoreet imperdiet imperdiet.</p>
    </div><!-- /#office -->
    <div id="in-intensives-of-fly-intensives" class="tab-content">
      <h2>Couples / <span class="lightened">In-Intensives of Fly-Intensives</span></h2>
      <p>Suspendisse potenti. Curabitur sapien est, facilisis eu hendrerit sed, imperdiet id turpis. Integer viverra lobortis eros a sagittis. Donec laoreet imperdiet imperdiet. Suspendisse potenti. Curabitur sapien est, facilisis eu hendrerit sed, imperdiet id turpis. Integer viverra lobortis eros a sagittis. Donec laoreet imperdiet imperdiet.</p>
      <p>Suspendisse potenti. Curabitur sapien est, facilisis eu hendrerit sed, imperdiet id turpis. Integer viverra lobortis eros a sagittis. Donec laoreet imperdiet imperdiet.</p>
    </div><!-- /#office -->
    <div id="couples-group" class="tab-content">
      <h2>Couples / <span class="lightened">Couples Group</span></h2>
      <p>Suspendisse potenti. Curabitur sapien est, facilisis eu hendrerit sed, imperdiet id turpis. Integer viverra lobortis eros a sagittis. Donec laoreet imperdiet imperdiet. Suspendisse potenti. Curabitur sapien est, facilisis eu hendrerit sed, imperdiet id turpis. Integer viverra lobortis eros a sagittis. Donec laoreet imperdiet imperdiet.</p>
      <p>Suspendisse potenti. Curabitur sapien est, facilisis eu hendrerit sed, imperdiet id turpis. Integer viverra lobortis eros a sagittis. Donec laoreet imperdiet imperdiet.</p>
    </div><!-- /#office -->
    <div id="retreats" class="tab-content">
      <h2>Couples / <span class="lightened">Retreats</span></h2>
      <p>Suspendisse potenti. Curabitur sapien est, facilisis eu hendrerit sed, imperdiet id turpis. Integer viverra lobortis eros a sagittis. Donec laoreet imperdiet imperdiet. Suspendisse potenti. Curabitur sapien est, facilisis eu hendrerit sed, imperdiet id turpis. Integer viverra lobortis eros a sagittis. Donec laoreet imperdiet imperdiet.</p>
      <p>Suspendisse potenti. Curabitur sapien est, facilisis eu hendrerit sed, imperdiet id turpis. Integer viverra lobortis eros a sagittis. Donec laoreet imperdiet imperdiet.</p>
    </div><!-- /#office -->
    <div id="medical" class="tab-content">
      <h2>Couples / <span class="lightened">Medical</span></h2>
      <p>Suspendisse potenti. Curabitur sapien est, facilisis eu hendrerit sed, imperdiet id turpis. Integer viverra lobortis eros a sagittis. Donec laoreet imperdiet imperdiet. Suspendisse potenti. Curabitur sapien est, facilisis eu hendrerit sed, imperdiet id turpis. Integer viverra lobortis eros a sagittis. Donec laoreet imperdiet imperdiet.</p>
      <p>Suspendisse potenti. Curabitur sapien est, facilisis eu hendrerit sed, imperdiet id turpis. Integer viverra lobortis eros a sagittis. Donec laoreet imperdiet imperdiet.</p>
    </div><!-- /#office -->
    <ul class="actions">
      <li>
        <a href="#">Make an Appointment Now</a>
      </li>
      <li>
        <a href="#">Learn about our approach</a>
      </li>
    </ul>
  </div>
</div><!-- /.sub-content -->

<div class="row about bordered">
  <div class="twelve mobile-four column">
    <h2>Dr. Thomas Mahan, PhD</h2>
    <p>Suspendisse potenti. Curabitur sapien est, facilisis eu hendrerit sed, imperdiet id turpis. Integer viverra lobortis eros a sagittis. Donec laoreet imperdiet imperdiet.</p>
    <div class="row">
      <div class="five column centered mobile-four">
        [IMG HERE]
      </div>
    </div>
    <div class="content-block">
      <h3>About Me</h3>
      <p>Suspendisse potenti. Curabitur sapien est, facilisis eu hendrerit sed, imperdiet id turpis. Integer viverra lobortis eros a sagittis. Donec laoreet imperdiet imperdiet. Vivamus mattis tortor sit amet urna luctus malesuada. Phasellus ac felis in nulla dictum tincidunt vitae ac nunc. Sed commodo, felis sit amet tristique condimentum, ante augue bibendum urna, sit amet venenatis tortor massa id eros. Nulla leo ante, ullamcorper ac volutpat id, aliquam quis risus. Sed at metus eros, vel congue erat. Sed eget porta leo.</p>
    </div>
    <div class="content-block">
      <h3>Approach</h3>
      <p>Suspendisse potenti. Curabitur sapien est, facilisis eu hendrerit sed, imperdiet id turpis. Integer viverra lobortis eros a sagittis. Donec laoreet imperdiet imperdiet. Vivamus mattis tortor sit amet urna luctus malesuada. Phasellus ac felis in nulla dictum tincidunt vitae ac nunc. Sed commodo, felis sit amet tristique condimentum, ante augue bibendum urna, sit amet venenatis tortor massa id eros. Nulla leo ante, ullamcorper ac volutpat id, aliquam quis risus. Sed at metus eros, vel congue erat. Sed eget porta leo.</p>
    </div>
  </div>
</div><!-- /.about -->

<div class="row contact bordered">
  <div class="twelve mobile-four column">
    <h2>Contact</h2>
    <p>Suspendisse potenti. Curabitur sapien est, facilisis eu hendrerit sed, imperdiet id turpis. Integer viverra lobortis eros a sagittis. Donec laoreet imperdiet imperdiet.</p>
    <p>????</p>
  </div>
</div><!-- /.contact -->